version: '3.8'
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: barbearia
    ports:
      - '5432:5432'
    volumes:
      - db-data:/var/lib/postgresql/data
  app:
    build: .
    environment:
      DATABASE_URL: 'postgresql://user:password@db:5432/barbearia'
      JWT_SECRET: 'devsecret'
    ports:
      - '4000:4000'
    depends_on:
      - db
volumes:
  db-data:
